@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('./assets/ken-cheung-KonWFWUaAuk-unsplash.jpg') no-repeat center center fixed;
  min-height: 600px;
  -webkit-background-size: cover;
  -noz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}